<h1><%= @user.first_name %>'s favorite gifs</h1>

<!-- <#% @favorite_gifs.each do |gif| %>
  <%#= gif %>
  <%= link_to "Unfavorite this gif, favorite_gif_path(@user), method: "delete" %>
<#% end %> -->
