<h1>List of gifs</h1>
<% @gifs.each do |gif| %>
<div class="gif-#{gif.title}">
  <%= image_tag(gif.image_path) %><br>
  Category: <%= gif.title %><br>
  <%= button_to "Favorite this gif", {:controller => favorite_gifs_path, :action => "create", :gif_id => gif.id, :user_id => current_user.id}, class: "button"  %><br>
</div>
<% end %>

  <%= button_to "Return to your main page", user_path(@user), class: "button", method: :get %>
