<h1>List of gifs created</h1>

<% @gifs.order(:title).each do |gif| %>
  <div class="gif-#{gif.title}">
    <%= image_tag(gif.image_path) %><br>
    Gif name: <%= gif.category.title %><br>
    <%= button_to "Delete gif", admin_gif_path(gif), method: "delete", class: "button" %>
</div>
<% end %>

<%= button_to "Return to Admin user page", user_path(current_user), class: "button", method: :get %>
